* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/main-photo.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

@font-face {
  font-family: "after-smile";
  src: url("../../assets/font/AfterSmileRegular.otf");
  font-weight: normal;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: justify-content;
  align-items: center;
}
nav .--logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}
nav .--headlink {
  display: flex;
  flex-direction: row;
  place-items: center;
  text-decoration: none;
  margin: 10px;
}
nav .--headlink .--headline {
  font-family: after-smile, sans-serif;
  font-size: xx-large;
  cursor: pointer;
}
nav .--headlink .--my {
  color: red;
}
nav .--headlink .--new {
  color: blue;
}
nav .--headlink .--home {
  color: red;
}
nav .nav-links {
  text-align: right;
  flex: 1;
}
nav .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 1% 1%;
}
nav .nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
nav .nav-links a::after {
  content: "";
  display: block;
  background-color: blue;
  margin: auto;
  width: 0%;
  height: 2px;
  transition: 0.5s;
}
nav .nav-links a:hover::after {
  width: 100%;
}
nav #bar-icon,
nav #close-icon {
  display: none;
}

.__main-box {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.__main-box .--main-h1 {
  font-size: 4em;
  font-weight: bold;
  color: red;
}
.__main-box .--main-p {
  font-size: 1.1em;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  nav .--logo {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  nav .--headlink .--headline {
    font-size: large;
  }
  nav .nav-links {
    position: absolute;
    right: 0px;
    top: 10px;
    display: none;
  }
  nav .nav-links ul li {
    display: block;
    background-color: red;
  }
  nav .nav-links ul {
    border: 2px solid black;
  }
  nav .nav-links a {
    color: blue;
  }
  nav .nav-links li {
    text-align: center;
    border-bottom: 2px solid black;
  }
  nav #bar-icon {
    display: block;
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .__main-box .--main-h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
  }
  .__main-box .--main-p {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 508px) and (min-width: 480px) {
  nav .nav-links ul li {
    font-size: x-small;
  }
}
@media (max-width: 768px) and (min-width: 508px) {
  nav .--logo {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  nav .--headlink .--headline {
    font-size: x-large;
  }
  nav .nav-links ul li {
    font-size: small;
  }
}
@media (max-width: 508px) and (min-width: 480px), (max-width: 768px) and (min-width: 508px) {
  nav .--logo {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  nav .--headlink .--headline {
    font-size: x-large;
  }
  .__main-box .--main-h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: red;
  }
  .__main-box .--main-p {
    font-size: 1.1em;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  }
}/*# sourceMappingURL=styles.css.map */