@mixin logo-style($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
}

@mixin container(
  $width,
  $min-height: none,
  $background-image: none,
  $background-position: none,
  $background-size: none,
  $position: none,
  $margin: none,
  $display: "",
  $flex-direction: ""
) {
  width: $width;
  min-height: $min-height;
  background-image: $background-image;
  background-position: $background-position;
  background-size: $background-size;
  position: $position;
  margin: $margin;
  display: $display;
  flex-direction: $flex-direction;
}

@mixin nav($display, $flex-wrap, $justify-content, $align-items) {
  display: $display;
  flex-wrap: $flex-wrap;
  justify-content: justify-content;
  align-items: $align-items;
}

@mixin headlink(
  $display,
  $flex-direction,
  $place-items,
  $text-decoration,
  $margin
) {
  display: $display;
  flex-direction: $flex-direction;
  place-items: $place-items;
  text-decoration: $text-decoration;
  margin: $margin;
}

@mixin headline($font-family, $font-family-alternative, $font-size, $cursor) {
  font-family: $font-family, $font-family-alternative;
  font-size: $font-size;
  cursor: $cursor;
}

@mixin my($color) {
  color: $color;
}

@mixin new($color) {
  color: $color;
}

@mixin home($color) {
  color: $color;
}

@mixin nav-links($text-align, $flex) {
  text-align: $text-align;
  flex: $flex;
}

@mixin ul-li($list-style, $display, $padding) {
  list-style: $list-style;
  display: $display;
  padding: $padding;
}

@mixin a($text-decoration, $font-weight, $color) {
  text-decoration: $text-decoration;
  font-weight: $font-weight;
  color: $color;
}

@mixin a-after(
  $display,
  $background-color,
  $margin,
  $width,
  $height,
  $transition
) {
  content: "";
  display: $display;
  background-color: $background-color;
  margin: $margin;
  width: $width;
  height: $height;
  transition: $transition;
}

@mixin a-hover-after($width) {
  width: $width;
}

@mixin main-box($position, $display, $top, $left, $transform, $text-align) {
  position: $position;
  display: $display;
  top: $top;
  left: $left;
  transform: $transform;
  text-align: $text-align;
}

@mixin text-style(
  $font-size,
  $font-weight,
  $color: none,
  $background-color: none,
  $margin-top: none
) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  background-color: $background-color;
  margin-top: $margin-top;
}

@mixin house-container($image-url) {
  width: 30%;
  min-height: 70vh;
  background-image: $image-url;
  background-position: center;
  background-size: cover;
  position: relative;
}

@mixin house-p {
  bottom: 50%;
  opacity: 1;
  transition: 2s;
}

@mixin house-after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(200, 0, 0);
  opacity: 0.5;
  z-index: 1;
}
