@use "../abstracts/mixin";

.__main-box {
  @include mixin.main-box(
    absolute,
    inline-block,
    50%,
    50%,
    translate(-50%, -50%),
    center
  );
  .--main-h1 {
    @include mixin.text-style(4em, bold, red);
  }
  .--main-p {
    @include mixin.text-style(
      $font-size: 1.1em,
      $font-weight: bold,
      $margin-top: 20px,
      $color: white,
      $background-color: rgba(0, 0, 0, 0.7)
    );
  }
}
