@use "../abstracts/variables";
@use "../abstracts/mixin";
@use "../base/typography";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--logo {
  @include mixin.logo-style(50px, 50px, variables.$nav-margin);
}
.--headlink {
  display: flex;
  flex-direction: row;
  place-items: center;
  text-decoration: none;
  margin: variables.$nav-margin;
  .--headline {
    font-family: "after-smile", sans-serif;
    font-size: xx-large;
    cursor: pointer;
  }
  .--my {
    color: red;
  }
  .--new {
    color: blue;
  }
  .--home {
    color: red;
  }
}

.nav-links {
  text-align: right;
  flex: 1;
  ul li {
    list-style: none;
    display: inline-block;
    padding: 1% 1%;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: red;
    &::after {
      content: "";
      display: block;
      background-color: blue;
      margin: auto;
      width: 0%;
      height: 2px;
      transition: 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
