@use "../abstracts/mixin";
@use "../abstracts/variables";

@media (max-width: 480px) {
  nav {
    .--logo {
      @include mixin.logo-style(20px, 20px, variables.$nav-margin);
    }
    .--headlink {
      .--headline {
        font-size: large;
      }
    }

    .nav-links {
      position: absolute;
      right: 0px;
      top: 0px;
      display: none;

      ul li {
        display: flex;
        align-content: space-between;
        background-color: red;
      }
      li {
        text-align: center;
      }
      a {
        color: white;
        padding: 10px;
        font-weight: lighter;
      }
    }

    #close-icon {
      display: flex;
      align-items: flex-end;
      padding: 10px;
      color: white;
      background-color: red;
    }

    #bar-icon {
      display: block;
      color: red;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
  }

  .__main-box {
    .--main-h1 {
      @include mixin.text-style(
        $font-size: 1.5em,
        $font-weight: bold,
        $color: red
      );
    }
    .--main-p {
      @include mixin.text-style(
        $font-size: 0.8em,
        $font-weight: bold,
        $margin-top: 10px,
        $color: white,
        $background-color: rgba(0, 0, 0, 0.7)
      );
    }
  }
  .houses {
    .house-imgs {
      flex-direction: column;
      align-content: space-between;

      .__house-1 {
        width: 100%;
        margin-bottom: 20px;
      }
      .__house-2 {
        width: 100%;
        margin-bottom: 20px;
      }
      .__house-3 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 508px) and (min-width: 480px) {
  nav {
    .nav-links {
      ul li {
        font-size: x-small;
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 508px) {
  nav {
    .--logo {
      @include mixin.logo-style(35px, 35px, variables.$nav-margin);
    }
    .--headlink {
      .--headline {
        font-size: x-large;
      }
    }
    .nav-links {
      ul li {
        font-size: small;
      }
    }
  }
}

@media (max-width: 508px) and (min-width: 480px),
  (max-width: 768px) and (min-width: 508px) {
  nav {
    .--logo {
      @include mixin.logo-style(35px, 35px, variables.$nav-margin);
    }
    .--headlink {
      .--headline {
        font-size: x-large;
      }
    }
  }

  .__main-box {
    .--main-h1 {
      @include mixin.text-style(
        $font-size: 1.8em,
        $font-weight: bold,
        $color: red
      );
    }
    .--main-p {
      @include mixin.text-style(
        $font-size: 1.1em,
        $font-weight: bold,
        $margin-top: 20px,
        $color: white,
        $background-color: rgba(0, 0, 0, 0.7)
      );
    }
  }
}
